extends ../layout.jade
block contenido
  div(class="container")
    h1 Panel de admin
    table(class="table")
      caption Productos
      thead
        tr
          th #
          th Nombre
          th Descripción
          th Precio
          th Imagen
          th Acciones
      tbody
        each product in products
          tr
            td= product.id
            td= product.title
            td= product.description
            td= product.pricing
            td
              img(src="#{product.imageUrl}", alt="", width="80px")
            td
              a(href="/menu/edit/#{product.id}" class="btn btn-link") Editar
              =" - "
              form(method="post" action="/menu/#{product.id}?_method=delete")
                input(type="submit" value="Eliminar" class="btn btn-link")