doctype html
html(lang="es")
  head
    title Mi primera pagina
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    block contenido