extends ../layout.jade
block contenido
  section(class="container")
    div(class="col-md-3")
    div(class="col-md-6")
      h1 Edit
      form(method="post" action="/menu/#{product.id}?_method=put" enctype="multipart/form-data")
        div(class="form-group")
          label Nombre
          input(type="text" name="title" value="#{product.title}" placeholder="Nombre" class="form-control")
        div(class="form-group")
          label Descripción
          textarea(name="description" placeholder="Description" class="form-control")
            =product.description
        div(class="form-group")
          label Costo
          input(type="number" name="pricing" value="#{product.pricing}" placeholder="Costo" class="form-control")
        div(class="form-group")
          label Imagen
          input(type="file" name="image_avatar")
        div(class="form-group text-right")
          input(type="submit" class="btn btn-info" value="Enviar")