extends ../layout.jade
block contenido
  h1 Menú
  p Productos

  each product in products
    div
      h3= product.title
      p
      img(src="#{product.image.url}", alt="", width="100px")
      p Valor: #[strong= product.pricing]
