extends ../layout.jade
block contenido
  section(class="container")
    div(class="col-md-3")
    div(class="col-md-6")
      h1 New
      form(method="post" action="/menu" enctype="multipart/form-data")
        div(class="form-group")
          label Nombre
          input(type="text" name="title" placeholder="Nombre" class="form-control")
        div(class="form-group")
          label Descripción
          textarea(name="description" placeholder="Description" class="form-control")
        div(class="form-group")
          label Costo
          input(type="number" name="pricing" placeholder="Costo" class="form-control")
        div(class="form-group")
          label Imagen
          input(type="file" name="image_avatar")
        //- div(class="form-group")
        //-   label Contraseña
        //-   input(type="password" name="password" placeholder="Contraseña" class="form-control")
        div(class="form-group text-right")
          input(type="submit" class="btn btn-info" value="Enviar")